:root {
    --cyan: #00bcd4;
    --deep-cyan: #0097a7;
    --light-cyan: #b2ebf2;
    --very-light-cyan: #e0f7fa;
    --dark: #37474f;
    --light: #eceff1;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding-top: 20px;
}

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    width: 250px;
    background-color: var(--dark);
    color: var(--light);
}
.sidebar a {
    color: var(--light);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.sidebar a:hover {
    background-color: var(--deep-cyan);
    color: var(--very-light-cyan);
}

.content {
    margin-left: 250px;
    padding: 20px;
}
.content h1 {
    color: var(--deep-cyan);
}

.btn-primary {
    background-color: var(--deep-cyan);
    border-color: var(--deep-cyan);
    color: var(--light);
}

.btn-primary:hover {
    background-color: var(--cyan);
    border-color: var(--cyan);
}

.table-dark {
    background-color: var(--dark);
    color: var(--light-cyan);
}

.table-dark thead th {
    border-bottom-color: var(--cyan);
}

.table-hover tbody tr:hover {
    background-color: var(--very-light-cyan);
    color: var(--dark);
}


.dark-form .form-control {
    background-color: #45465d;
    border: 1px solid #444;
    color: #ddd;
}

.dark-form .form-control:focus {
    background-color: #333;
    border-color: #555;
    color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.25);
}

.dark-form .btn-light {
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

.dark-form label, .dark-form .form-text {
    color: #ccc;
}

.dark-form .btn-primary {
    background-color: #0056b3;
    border-color: #004085;
}

.navbar-flat {
    background-color: #343a40;
    border-bottom: 2px solid #495057;
}
.navbar-flat .navbar-brand, .navbar-flat .nav-link {
    color: #adb5bd !important;
}
.navbar-flat .nav-link {
    margin-right: 1rem;
}
.navbar-flat .nav-link:hover {
    color: #ffffff !important;
}
.btn-dashboard {
    color: #fff;
    background-color: #007bff;
    border: none;
}
.btn-dashboard:hover {
    background-color: #0056b3;
}